body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
}

input {
    font-size: 1.75em;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.player {
    padding: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}
.player .actions {
    text-align: center;
    display: inline-block;
    height: 100%;
}
.player .action {
    height: 12px;
    width: 20px;
    margin-bottom: 2px;
    /* border: 1px solid; */
    padding: 0 4px 17px;
    text-align: center;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 900;
    display: block;
    border-radius: 5px;
}

.player .plus {
    color: #38c145;
}

.player .plus:hover {
    color: #fff;
    background-color: #38c145;

}
.player .minus {
    color: #dc3826;
}

.player .minus:hover {
    color: #fff;
    background-color: #dc3826;

}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
